.App {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.navbar{
  text-align: center;
}

.btn {
  width: 10vw;
  height: 5vh;
  border-radius: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 5px;
  margin: 10px;
  border: none;
  font-size: 1rem;
}
.btn:hover {
  background-color: gray;
  color: white;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 98vw;
  height: 12vh;
  /* border-bottom: 2px solid gray; */
  box-shadow: 3px gray;
  border-radius: 10px;
}
.input_note {
  width: 60vw;
  height: 5vh;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  border: 2px solid gray;
  font-size: 1rem;
}

.tasks_form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
select {
  font-size: 16px;
}

.tasklist_notes_left {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 30%;
}
.tasks_list_full {
  list-style: none;
}
.task_items {
  border: 2px solid gray;
  margin: 10px;
  width: 95vw;
  height: 20%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 3px 3px 3px 3px gray;
}
.completed_tasklist_items {
  color: blue;
  text-decoration: none;
}
.incomplete_tasklist_items {
  color: red;
  text-decoration: line-through;
}

.items_right {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.inside_btn {
  margin: 5px;
  padding: 5px;
  font-size: 20px;
}
.task_priority{
  text-align:left;
  margin: 2px;
}
